

body{
    /* padding-top: 2em; */
}

.btn_black{
    border: 1px solid #fff;
    background-color: #000;
    background: #000;
    color: #fff;
    font-family: 'Weissenhof_Grotesk_Light';
    font-size: 16px;
    width: 156px;
    height: 48px;
}

.col_content_transporte{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: inherit;
}

.col_transporte{
    max-width: 482px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgb(162 162 162 / 25%);
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    align-self: flex-end;
    min-height: inherit;
    max-height: -webkit-fill-available;
}

#col_transporte_ejecutivo{
    background-image: url('Images/Index/detail-shot-of-modern-black-premium-car-2021-08-30-07-46-14-utc.png');
    
}
#col_transporte_aereo{
    background-image: url('Images/Index/shutterstock_428597851@2x.png'); 
}
#col_transporte_industrial{
    background-image: url('Images/Index/semi-truck-wheels-2021-08-26-23-04-30-utc@2x.png');
}

.col_index{
    padding: 0;
    background-size: cover;
    background-position: center;
}

.cover_index{
    background-image: url('Images/Index/video_Preview\ 2.mp4');
    background-position: center;
    
    min-height: 80vh;
}

.cover_aereo{
    background-image: url('Images/Transporte_Aereo/shutterstock_163665074@2x.png');
    background-position: center;
    background-size: cover;
    min-height: 95vh;
    display: flex;
    justify-content: end;
}

.footer{
    color: #B8C1D1;
    padding: 6em 0 8em 0;
}

.footer-col{
    width: 12.5vw;
    /* padding: 0; */
  }
  .footer-row{
    padding-top: 1em;
  }
  .footer-section{
    display: flex;
    justify-content: center;
  }
  .footer-ul{
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
  }
  .footer-ul a{
      text-decoration: none;
      color: #B8C1D1;
  }
  .footer-white{
    padding-bottom: 1em;
    /* min-height: 13em; */
    background-color: #FFFFFF;
  }

.formAereo{
    padding: 2em 0 2em 0;
}

.formAereo .user-box input,select{
    background-color: rgba(0,0,0,0.59);
    border: none;
    color: #fff;
    height: 29px;
    width: 100%;
    font-size: 12px!important;
    font-family: 'Weissenhof_Grotesk_Regular'!important;
    padding-left: 0.7em;
}
.formAereo .user-box input::placeholder{
    color: #fff;
    font-size: 12px;
    font-family: 'Weissenhof_Grotesk_Regular';
}
.formAereo .user-box select::placeholder{
    color: #fff;
    font-size: 12px;
    font-family: 'Weissenhof_Grotesk_Regular';
}

.gray{
    color: #B8C1D1;
}

h2, .h2{
    font-size: 35px!important;
    font-family: 'Gotham_Bold';
}

h3, .h3{
    font-size: 25px!important;
    font-family: 'Weissenhof_Grotesk_Regular';
}

.hidden{
    display: none;
}

.evenly-all{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.light-gray{
    color: #D6DADA;
}
.link{
    text-decoration: none;
}

.link_card{
    display: flex;
    width: 100%;
    height: 100%;
}

.link_card_ejecutivo, .link_card_industrial{
    justify-content: end;
}
.link_card_aereo{
    align-items: end;
}

.logo_index{
    width: 265px;
    height: auto;
    padding-top: 3em;
}
.logo_xride{
    padding-left: 1.5em;
}


main{
    /* padding-top: 3em; */
}
.margin-center{
    margin-left: auto;
    margin-right: auto;
}
.navbar-collapse{
    background-color: #000;
}
.navbar-toggler{
    border: none!important;
}

.navbar-toggler:focus{
    box-shadow: none!important;
}
.no-border{
    border: none;
}
.no-margins{
    margin: 0;
}
p, .p{
    font-size: 16px;
    font-family: 'Weissenhof_Grotesk_Light';
}

.parr_cover_index{
    max-width: 341px;
}

.parr_small{
    font-size: 12px;
}

.row_index{
    min-height: 390px;
    background-color: #000;
}

.section_white_transporte{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 2em;

}

.text-center{
    text-align: center;
    
}
.text-end{
    text-align: end;
}


/******************************** Transitions *****************************/

/* Fade transition */
.transition-fade{
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}
html.is-animating .transition-fade{
    opacity: 0;
    /* transform: translateX(50%); */
}
html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateX(0);
}


/* Swipe transition */
.transition-swipe{
    transition: 500ms;
    transform: translateY(0);
}
html.is-animating .transition-swipe{
    transform: translateY(100px);
}


/*Transition-diagonal*/
.transition-diagonal{
    transition:500ms;
    opacity: 1;
    transform: translateX(0) translateY(0);
    transform-origin:left;
}
html.is-animating .transition-diagonal{
    opacity: 0;
    transform: translateX(300%) translateY(70%);
    /* transform: translateX(50%); */
}

/*Transition-diagonal*/
.transition-diagonal-tb{
    transition:500ms;
    opacity: 1;
    transform: translateX(0) translateY(0);
    transform-origin:left;
}
html.is-animating .transition-diagonal-tb{
    /* opacity: 0; */
    transform: translateX(-200%) translateY(-40%);
    /* transform: translateX(50%); */
}

/****************************************************************************  */



.vid-background{
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.white{
    color: #EDF1F9;
}

/*----------------------Bigger than SM---------------------*/
@media (min-width:768px){
    .logo_index{
        padding-top: 6em;
        padding-bottom: 6em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .parr_cover_index{
        padding-left: 5em;
    }

}

/*----------------------Mobiles---------------------*/

@media (max-width:768px) and (max-height:1024px) {

    .col_content_transporte{
        max-width: 100%;
    }
    .col_index{
        min-height: 50vh;
    }
    .cover_index{
        height: 95vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .cover_aereo{
        height: 95vh;
    }
    .footer-col{
        padding-bottom: 1em;
    }

    .parr_cover_index{
        padding-bottom: 2em;
    }
}


/*Fonts*/
@font-face {
    font-family: 'Weissenhof_Grotesk_Light';
    /* font-weight: bold; */
    src: url("Fonts/Indian\ Type\ Foundry\ -\ WeissenhofGrotesk-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Weissenhof_Grotesk_Regular';
    /* font-weight: bold; */
    src: url("Fonts/Indian\ Type\ Foundry\ -\ WeissenhofGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham_Bold';
    /* font-weight: bold; */
    src: url("Fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
	font-family: 'Ubuntu_Light';
	font-weight: bold;
	src: url("Fonts/Ubuntu-Light.ttf") format("opentype");
}

